/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN NORMALIZE.CSS)
	- Normalize
	- Box sizing
	- Media width
	- Screen Reader Text
# Base
	- Typography
	- Elements
	- Links
# Components
	- Header
	- Main
# Dark Mode
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */

body {
    font-family: 'marcellus', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    width: 100%;
    background-color: #b0e2f8;
}

h1 {
    font-size: 2rem;
    color: #ffffff;
    position: absolute;
    background-color: transparent;
    z-index: 1000;
    left: 1rem;
    margin: 0;
    padding-top: .9rem;
    text-transform: uppercase;
}

h2 {
    font-family: 'black han sans', Impact, 'Arial Narrow Bold', sans-serif;
    color: #000080;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    margin: 0;
    padding-top: 1rem;
}

h3 {
    font-family: 'black han sans', Impact, 'Arial Narrow Bold', sans-serif;
    color: #000080;
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
    padding-bottom: .5rem;
}

/* Elements
--------------------------------------------- */



/* Links
--------------------------------------------- */

a,
a:visited {
    color: #0000ff;
}

a:hover,
a:focus {
    color: #000080;
}

a:focus {
    outline: 1px dotted #ffffff;
}

a:active {
    color: green;
    background-color: skyblue;
}

/* Header
--------------------------------------------- */

video {
    display: block;
    width: 100%;
    height: 100vh;
    position: relative;
    object-fit: cover;
    left: 0;
    right: 0;
    z-index: 0;
}

/* .site-wrapper {
	max-width: 120rem;
	margin: 0 auto;
}    */

.site-header {
    align-items: center;
    justify-content: space-between;
}

.site-header img {
    display: block;
    width: 100%;
    height: 100vh;
    position: relative;
    object-fit: cover;
    left: 0;
    right: 0;
    z-index: 0;
}

.site-logo {
    font-size: 2.5rem;
    font-family: 'jua', Arial, Helvetica, sans-serif;
}

.site-navigation {
    padding: 0 1rem;
}

.site-navigation ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-size: 2rem;
    font-family: 'black han sans', Arial, Helvetica, sans-serif;
}

.site-navigation a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2rem;
    padding: 0;
    color: #ffffff;
}

.site-navigation ul {
    display: none;
    position: absolute;
    top: 4.5rem;
    left: 0;
    right: 0;
    background-color: transparent;
    z-index: 1;
}

.menu-toggle {
    position: absolute;
    right: 5%;
    top: 1%;
    background-color: transparent;
    border: 0;
    padding: 1rem;
}

.menu-toggle path {
    fill: #ffffff;
}

.menu-toggle:focus {
    border: 0;
    outline: .1rem solid #ffffff;
}

.site-navigation.toggled ul {
    display: block;
}

/* Main
--------------------------------------------- */

.site-main {
    display: block;
    top: 20rem;
    background-color: #b0e2f8;
}

.site-main p {
    margin: 0;
    font-size: 1.05rem;
    line-height: 1.1rem;
    max-width: 50rem;
    text-align: left;
    border-radius: 1rem;
    padding: 1rem;
}

figcaption {
    text-align: center;
}

.table-section {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border: .15rem solid #8c8c8c;
    font-size: .8rem;
    letter-spacing: .2rem;
}

.table-title {
    caption-side: bottom;
    padding: .6rem;
    font-weight: bold;
}

thead,
tfoot {
    background-color: #e4f0f5;
}

th,
td {
    font-size: .8rem;
    border: .2rem solid #a0a0a0;
}

td:last-of-type {
    text-align: center;
}

tbody>tr:nth-last-of-type(even) {
    background-color: rgb(237 238 242);
}

.food-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 1rem;
    line-height: 2rem;
}

.food-section p {
    padding: 1rem .5rem 1rem .5rem;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.food-culture-1 {
    border-top: .1rem solid #000080;
    border-bottom: .1rem solid #000080;
    background-color: #ffffff;
    padding: 1rem;
    margin: 0 .5rem;
}

.food-culture-2 {
    padding: 1rem;
    margin: 0 .5rem;
}

.food-culture-3 {
    border-top: .1rem solid #000080;
    background-color: white;
    padding: 1rem;
    margin: 0 .5rem;
}

.history-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 1rem;
}

.history-section img {
    padding: .5rem;
}

.discover-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 2rem;
}

.discover-section img {
    padding: .5rem;
}

.credit-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 2rem;
}

/* footer
--------------------------------------------- */

.site-footer {
    display: block;
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 1rem;
    color: #ffffff;
    background-color: rgb(0, 47, 128);
}

/* Start media query
---------------------------------------------- */

@media (min-width: 50em) {

    .menu-toggle {
        display: none;
    }

    .site-logo {
        top: 1.5rem;
        left: 5rem;
    }

    .site-navigation {
        flex: 1 1 auto;
        padding: 0 1rem;
    }

    .site-navigation ul,
    .site-navigation.toggled ul {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        top: 2rem;
    }

    .site-navigation a {
        line-height: 4.5rem;
        padding: 0 1rem;
    }

    .section-quotes {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    figcaption {
        text-align: center;
    }

    .about-section img {
        width: 21rem;
        height: 18.5rem;
    }

    .about-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center
    }

    .table-section {
        width: 20rem;
        height: 18.75rem;
        margin-left: 2rem;
        margin-right: 0;
    }

    .history-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .history-section article {
        width: 25rem;
        height: auto;
    }

    .history-section img {
        width: 25rem;
        height: 18.75rem;
        padding: 1rem 1rem 0 1rem;
    }

    .food-section img {
        width: 25rem;
        height: 15.75rem;
    }

    .food-section {
        display: grid;
        grid-template-columns: minmax(0, 24rem) minmax(0, 24rem) minmax(0, 24rem);
        align-items: center;
        gap: 1rem;
        margin-bottom: 1rem;
    }

    .food-culture-3 {
        border-bottom: .1rem solid #000080;
    }

    .food-culture-2 {
        border-top: .1rem solid #ffffff;
        border-bottom: .1rem solid #ffffff;
    }

    .discover-header {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 1rem;
        padding-bottom: 1rem;

    }

    .discover-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-top: 1rem;
    }

    .discover-section img {
        width: 25rem;
        height: 18.75rem;
        padding: 1rem;
    }

    .credit-section-1 p {
        text-align: center;
    }

    .credit-main {
        text-align: center;
    }

    .credit-main li {
        list-style: none;
    }

}